{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block content %}
  <header class="section-head bg-primary text-white">
    <div class="container">
    <h1 class="display-4">
      {{page.title}}
    </h1>
    {% if page.short_description%}
    <p class="mt-1">{{page.short_description}}</p>
    {% endif %}
    <div class="d-flex flex-wrap justify-content-between">
      {{page.start_date}} - {{page.end_date}}
      <a class="btn btn-secondary" href="http://www.google.com/calendar/render?action=TEMPLATE&text={{page.title}}&dates={{page.start_date | date:"Ymd"}}/{{page.end_date| date:"Ymd"}}&details={{page.short_description}}&trp=false&sprop=&sprop=name:"
      target="_blank" rel="nofollow">Add to calendar</a>
    </div>

  </div>
  </header>
  <div class="container pt-2">

    <div class="d-flex d-flex-row flex-wrap">
      {% for block in page.content %}
      {% include_block block %}
      {% endfor %}
    </div>


    {% for child in children %}
    <div class="row py-1">
      <div class="card w-100">
        {% if child.image %}
          {% image child.image fill-500x500 as child_img %}
          <img class="card-img-top" src="{{child_img.url}}" alt="{{child.title}}-image">
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title mt-auto">{{child.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{child.start_date}} - {{child.end_date}}</h6>
          <p class="card-text  truncate ">{{child.short_description}}</p>
          <a href="{{child.url}}" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
{% endblock %}

{% block extra_css %}
<style media="screen">
.section-head {
    padding-top: calc(6rem + 30px);
    padding-bottom: 0.5rem;
}
.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
</style>

{% endblock %}
