{% extends "base.html" %}


{%load static wagtailcore_tags%}
{% block content %}
  <header class="section-head bg-primary text-white">
    <div class="container">
    <h1 class="display-4">
      {{page.title}}
    </h1>
    {% if page.short_description%}
    <p class="mt-1">{{page.short_description}}</p>
    {% endif %}
    <div class="d-flex flex-wrap justify-content-between">
      {{page.start_date}} - {{page.end_date}} (UTC)
      <a class="btn btn-secondary" href="http://www.google.com/calendar/render?action=TEMPLATE&text={{page.title}}&dates={{page.start_date | date:"Ymd\\THi00"}}Z/{{page.end_date| date:"Ymd\\THi00"}}Z&details={{page.short_description}}&trp=false&sprop=&sprop=name:"
      target="_blank" rel="nofollow">Add to calendar</a>

    </div>

  </div>
  </header>
  <div class="container pt-2">
    {% for block in page.content %}
    {% include_block block %}
    {% endfor %}
    {% endblock content %}
  </div>

{% block extra_css %}
<style media="screen">
.section-head {
    padding-top: calc(6rem + 30px);
    padding-bottom: 0.5rem;
}
</style>

{% endblock %}
