{%load static wagtailcore_tags%}
{% load static wagtailimages_tags wagtailcore_tags %}
{% image value.background_image fill-1920x1080 as bg_img %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column" style="background: url({{bg_img.url}})">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{value.title}}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">{{value.short_text}}</p>
    </div>
</header>
