{%load static wagtailcore_tags%}
<div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{value.title}}</h2>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        {% for block in value.buttons %} 
        {% include_block block %} 
        {% endfor %}
    </div>
</div>
