{%load static wagtailcore_tags%}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{value.title}}</h2>
        <!-- <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div> -->
        <div class="d-flex flex-row  justify-content-around">
            {% for block in value.buttons %}
            {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>
