{% load static wagtailuserbar %}
{% load menu_tags %}
{% load analytical %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% analytical_head_top %}
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static 'css/web.css' %}">
    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
    {% analytical_head_bottom %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% analytical_body_top %}
    {% wagtailuserbar %}

    {% main_menu max_levels=3 template="navbar.html"%}

    <main id="content-wrap" role="main">
        {% block content %}{% endblock %}
    </main>

    {# Global javascript #}
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script type="text/javascript" src="{% static 'js/web.js' %}"></script>
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
    {% analytical_body_bottom %}
</body>

</html>
