{% load static wagtailuserbar %}
{% load menu_tags %}
{% load analytical %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/web.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {% analytical_head_bottom %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% analytical_body_top %}
        {% wagtailuserbar %}

        {% main_menu max_levels=3 template="navbar.html"%}

        <main id="content-wrap" class="container" role="main">
          {% block content %}{% endblock %}
        </main>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/web.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
         {% endblock %}
         {% analytical_body_bottom %}
    </body>
</html>
