
{% extends "base.html" %}
{%load static wagtailcore_tags%}
{% block content %}
  <header class="section-head bg-primary text-white">
    <div class="container">
    <h1 class="display-4">
      {{page.title}}
    </h1>
    {% if page.short_description%}
    <p class="mt-1 lead">{{page.short_description}}</p>
    {% endif %}
  </div>
  </header>
  <div class="container pt-2">
    {% for block in page.content %}
    {% include_block block %}
    {% endfor %}
    {% endblock content %}
  </div>

{% block extra_css %}

<style media="screen">
.section-head {
    padding-top: calc(6rem + 30px);
    padding-bottom: 0.5rem;
}
</style>

{% endblock %}
